<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thschmidt.myownnumber">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- to show (toast) message with own phone number when receiving or making a call -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- to display a notification with the option to text/SMS the own number to the callee -->

    <!--<uses-permission android:name="android.permission.SEND_SMS"/>-->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">     <!-- adjustResize see  https://developer.android.com/training/keyboard-input/visibility -->
            <!-- exported="true"  allegedly necessary for KitKat, see http://stackoverflow.com/questions/21250364/notification-click-not-launch-the-given-activity-on-nexus-phones -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyPhoneReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
